<a href="https://colab.research.google.com/github/rrucha0406/basics/blob/main/pythondemoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing libraries

In [ ]:
import numpy as np

**Creating an array**

SLICING

FLOAT TYPE

In [ ]:
b = np.array([1.4, 3.2, 5], dtype = float)
print(b)

 ***Initial*** ***Placeholders***

Create an array with zeros.

In [ ]:
np.zeros((3,8))        #we can do the same by using ones

Create an array with ones.

In [ ]:
np.arange(1, 30, 5)

Create an evenly-spaced array with a specified number of values

In [ ]:
np.linspace(0,4,8)

Create an entire array with a constant value.

In [ ]:
np.full((4,4),9)

Create an identity matrix.

In [ ]:
np.identity(3)

Create an array with random integers.

In [ ]:
np.random.randint(2,8,3)

***ARITHMETIC*** ***FUNCTIONS***

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])

**addition**

**subtraction**

**2.0**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
pd.Series([1, 2, 3])

**working on an actual** **dataset**

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/rrucha0406/basics/main/tutorial.csv"
df = pd.read_csv(url)

df.head()

first 5 rows

In [ ]:
df.head()

last 5 rows

In [ ]:
df.tail()

name of columns

shape of the data

what is the dataframe made of?

How many actual values do i have?

What are the statistics?

**check missing value**

**check distribution of platform column**

In [ ]:
df['platform'].value_counts()

**Using loc (Label-based indexing)
 Select rows using row labels (index)**

In [ ]:
#df.loc[row_labels, column_labels]




df.loc[:, ['message_text', 'label']]   #all rows with selective columns

In [ ]:
#df.iloc[row_positions, column_positions]

df.iloc[0:5]   #Selects rows with index labels 0 to 5 (inclusive)

**We use loc when we want to select data using labels, column names, or conditions like spam messages.
We use iloc when we want to select data based on row and column positions.‚Äù
**

**MATPLOTLIB**

import the libs

basics

In [37]:
import pandas as pd
import matplotlib.pyplot as plt


data = {
    "Day": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
    "Study_Hours": [2.5, 3.0, 3.8, 4.2, 5.1, 6.0, 6.5],
    "Sleep_Hours": [7.5, 7.0, 6.2, 5.8, 5.0, 4.5, 4.0],
    "Coffee_Cups": [1, 1, 2, 2, 3, 4, 4]
}

df = pd.DataFrame(data)
df

   Day  Study_Hours  Sleep_Hours  Coffee_Cups
0  Mon          2.5          7.5            1
1  Tue          3.0          7.0            1
2  Wed          3.8          6.2            2
3  Thu          4.2          5.8            2
4  Fri          5.1          5.0            3
5  Sat          6.0          4.5            4
6  Sun          6.5          4.0            4

BAR **PLOT**

In [ ]:
plt.bar(df["Day"], df["Coffee_Cups"])
plt.title("Coffee Intake vs Exam Stress")
plt.xlabel("Day")
plt.ylabel("Cups of Coffee")
plt.show()

scatter plot

In [ ]:
plt.scatter(df["Study_Hours"], df["Sleep_Hours"])
plt.title("Study Hours vs Sleep Hours")
plt.xlabel("Study Hours")
plt.ylabel("Sleep Hours")
plt.show()

piechart

In [ ]:
time_spent = [sum(df["Study_Hours"]), sum(df["Sleep_Hours"])]
labels = ["Studying", "Sleeping"]

plt.pie(time_spent, labels=labels, autopct="%1.1f%%")
plt.title("Student Life Breakdown")
plt.show()

histogram

In [ ]:
plt.hist(df["Study_Hours"], bins=5)
plt.title("Distribution of Study Hours")
plt.xlabel("Study Hours")
plt.ylabel("Number of Days")
plt.show()